body {
    margin: auto;
    background-color: #f2f2f2;
}

#title {
    text-align: center;
    height: 75px;
    line-height: 75px;
    width: 85vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

#sales-div, #ops-div {
    height: 80vh;
    width: 85vw;
    border: 2px solid black;
    margin: auto;
    /* margin-top: 5px; */
    margin-bottom: 10px;
}