body {
    margin: auto;
    background-color: #f2f2f2;
}

* {
    box-sizing: border-box;
  }

#title {
    height: 75px;
    width: 85vw;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: lightgrey 2px 2px 2px;
    border-radius: 10px;
    PADDING: 10PX;
}

#ops-div {
    height: 80vh;
    width: 85vw;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: lightgrey 2px 2px 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

}

#sales-div {
    height: 100vh;
    width: 85vw;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: lightgrey 2px 2px 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

}